body{
    background-color: lightblue;
}

h1,h2{
    text-align: center;
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

.change-burger{
    background-color: chartreuse;
}

.form-group{
    text-align: center;
}


.centeredbutton{
    display: flex;
    justify-content:center;
    align-items: center;
}